<h1>Create your CV very quickly !</h1>
<section id="steps">
    <div class="step">
        <div class="step-number">
            <span>
                Step
            </span>
            <span>
                1
            </span>
        </div>

        <div class="step-text">
            Complete the form with the information you want to put on your CV
        </div>
    </div>
    <div class="step">
        <div class="step-number">
            <span>
                Step
            </span>
            <span>
                2
            </span>
        </div>

        <div class="step-text">
            Press "Generate my CV" at the end of the form, and you will see your new CV download to your PC
        </div>
    </div>
</section>

<app-button tagName="button" btnText="Start"></app-button>
